@model IEnumerable<TT_IT.Models.AspNetUser>
@{
    ViewBag.Title = "Thêm Thành Viên";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@foreach (var item in Model)
{

    <tr>
        <td class="text-center">
            <img src="~/Photos/Users/@item.Image" width="70" height="60" class="img-circle" />
        </td>
        <td class="text-right">
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @item.Email
        </td>

    </tr>
    <tr>
        <td colspan="4" class="text-center">
            <a class="btn btn-turquoise  btn-xs" href="@Url.Action("Details", new { id = item.ID })"><span class="fa-eye"></span> Chi tiết</a>
            |
            @Html.ActionLink("Sửa", "Edit", new { id = item.ID }, new { @class = "btn btn-default btn-xs" })
            |
            <a class="btn btn-default btn-xs" href="@Url.Action("Delete", new { id = item.ID })"><span class="fa fa-remove"></span>Xóa</a>
            |
            <a class="btn btn-turquoise btn-xs" href="@Url.Action("CustomRole", "User", new { id = item.ID, area = "Admin" })">Xem | Phân quyền</a>
        </td>
    </tr>
}
